extends layout
include tasks.jade 
include addTaskModal.jade

block content
    head 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
        link(rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css")
        script(src="https://cdn.jsdelivr.net/npm/flatpickr") 
        link(rel="stylesheet", href="/stylesheets/index.css")
        link(rel="stylesheet", href="/stylesheets/modal.css")
        script(type="module", src="/javascripts/script.js")  
        script(src="/javascripts/task.js") 
    .root
        +tasks('Pending')
        +tasks('Running')
        +tasks('Completed')
        button(type="button")#addTask
            span(class="material-symbols-outlined") add
        +addTaskModal()

                       

